:root {
  /* Colors */

  --color-yellow: rgb(244 208 78);

  --color-gray-950: rgb(17 17 17);
  --color-gray-500: rgb(107 107 107);

  --color-white: rgb(255 255 255);

  /* Typography */

  --font-family: "Figtree", sans-serif;
  --line-height: 1.5;
  --letter-spacing: 0;

  --font-size-large: 2.4rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;

  /* Spacing */

  --spacing-300: 2.4rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}
