:root {
  /* Colors */

  --color-yellow: rgb(244 208 78);

  --color-gray-950: rgb(17 17 17);
  --color-gray-500: rgb(107 107 107);

  --color-white: rgb(255 255 255);

  /* Typography */

  --font-family: "Figtree", sans-serif;
  --line-height: 1.5;
  --letter-spacing: 0;

  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;

  /* Spacing */

  --spacing-300: 1.5rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-yellow);
}

main {
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns:
    [main-start] 1fr
    [content-start] repeat(4, 4.5rem)
    [card-start] repeat(4, 4.5rem)
    [card-end] repeat(4, 4.5rem)
    [content-end] 1fr [main-end];
  gap: 2rem;
  align-items: center;
}

.card {
  grid-column-start: card-start;
  grid-column-end: card-end;

  background-color: var(--color-white);
  padding: var(--spacing-300);
  border-radius: 1.25rem;
  box-shadow: var(--spacing-100) var(--spacing-100) #000;

  header {
    height: 12.5rem;
    background-image: url("./assets/images/illustration-article.svg");
    border-radius: 0.625rem;
  }

  section {
    margin-block: var(--spacing-300);
  }

  .tag {
    background-color: var(--color-yellow);
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: var(--spacing-50);

    color: var(--color-gray-950);
    line-height: var(--line-height);
    font-size: var(--font-size-small);
    font-weight: bold;
  }
}
